<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resultado</title>
    ><marquee>é o braaaaaaaad</marquee>
</head>
<body>
    <h1>Resultados</h1>
    <h2>Resultado da soma entre {{n1}} e {{n2}} é: {{resultados['soma']}}</h2>
    <h2>Resultado da subtração entre {{n1}} e {{n2}} é: {{resultados['sub']}}</h2>
    <h2>Resultado da multiplicação entre {{n1}} e {{n2}} é: {{resultados['mult']}}</h2>
    <h2>Resultado da divisao inteira entre {{n1}} e {{n2}} é: {{resultados['divint']}}</h2>
    <h2>Resultado da divisao fracionada entre {{n1}} e {{n2}} é: {{resultados['divfra']}}</h2>
    <h2>Resultado do resto entre {{n1}} e {{n2}} é: {{resultados['restodiv']}}</h2>
    <h2>Resultado da raiz de {{n1}} é: {{resultados['raiz1']}}</h2>
    <h2>Resultado da raiz de {{n2}} é: {{resultados['raiz2']}}</h2>

    <br>
    <a href="/"> Voltar para a pagina inicial</a>
</body>
</html>